.root{
    -fx-background-color: #e9e9e9;
    -fx-background-position: center center;
    -fx-text-fill: #353b48;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-pref-height: 100px;
    -fx-pref-width: 300px;
}
.button{
    -fx-background-color: #353b48;
    -fx-text-fill: #f5f6fa;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;
}
.button:hover{
    -fx-background-color: #353b48;
    -fx-text-fill: #f5f6fa;
}
.label{
    -fx-font-size: 15;
}
.btn-no{
    -fx-background-color: #E65100;
}
.btn-yes{
    -fx-background-color: #2196F3;
}