.root{
    -fx-background-color: #262626;
}
.topPanel{
    -fx-background-color: #262626;
    -fx-padding: 20px;
    -fx-border-color: #434343;
    -fx-border-width: 0 0 2 0;
}
.tackerLabels{
    -fx-background-color: #434343;
    -fx-text-fill:#e9e9e9;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
    -fx-pref-height: 40px;
    -fx-pref-width: 100px;
    -fx-background-position: center center;
}
.tackerLabelsActive{
    -fx-border-color: #2196F3;
    -fx-border-width: 0 0 5 0;
}


.leftPanel{
    -fx-background-color: #262626;
    -fx-padding: 20px;
    -fx-pref-width: 400px;
    -fx-text-fill:#e9e9e9;

}
.LeftMenu{
    -fx-border-color: #434343;
    -fx-border-width: 0 2 0 0;
}
.memberBox{
    -fx-background-color: #434343;
    -fx-padding: 20 10 10 10;
}
.memberLabel{
    -fx-text-fill: #e9e9e9;
    -fx-pref-height: 30px;
    -fx-pref-width: 125px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
}

.memberBox:hover{
    -fx-background-color: #2196F3;
}


.bottomPanel{
    -fx-background-color: #262626;
    -fx-padding: 20 10 20 10;
    -fx-border-color: #434343;
    -fx-border-width: 2 0 0 0;
}
.pointsLabels{
    -fx-text-fill: #e9e9e9;
    -fx-pref-height: 30px;
    -fx-pref-width: 125px;
    -fx-font-size: 20;
    -fx-font-weight: 700;
}
.grid{
    -fx-text-fill: #e9e9e9;
}
.room{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-border-width: 2 2 2 2;
}
.roomSealed{
    -fx-background-color: #2196F3;
    -fx-text-fill: #e9e9e9;
}
.roomName{
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 20;
    -fx-font-weight: 700;
}
.roomNumber{
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 20;
    -fx-font-weight: 700;
}
.roomTotalAliens{
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 12;
    -fx-font-weight: 900;
    -fx-padding: 0 0 25 -2;
}
.roomDoorDown{
    -fx-border-color: #2196F3 !important;
    -fx-border-width: 0 0 2 0 !important;
    -fx-border-insets: 0 0 -2 0 ;
}
.roomDoorUp{
    -fx-border-color: #2196F3 !important;
    -fx-border-width: 2 0 0 0;
    -fx-border-insets: -2 0 0 0 ;
}
.roomDoorLeft{
    -fx-border-color: #2196F3 !important;
    -fx-border-width: 0 0 0 2;
    -fx-border-insets: 0 0 0 -2 ;
}
.roomDoorRight{
    -fx-border-color: #2196F3 !important ;
    -fx-border-width: 0 2 0 0 !important;
    -fx-border-insets: 0 -2 0 0 !important;
}
.stockLabels{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 330px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
}
.stockLabels:hover{
    -fx-background-color: #2196F3;
}
.legendImage{
    -fx-background-color: #2196F3;
    -fx-padding: 0 10 0 10;
    -fx-pref-width: 50px;
}
.legendText{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 280px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
}
.legendText:hover {
    -fx-background-color: #2196F3;
}
.btnAdvance,.btnSave{
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #434343;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 280px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
    -fx-border-insets: 0;
}
.btnAdvance:hover,.btnSave:hover{
    -fx-background-color: #2196F3;
    -fx-text-fill: #e9e9e9;
}
.teste{
    -fx-background-color: #2196F3;
}
.btnExit{
    -fx-background-color: #E65100;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 5;
    -fx-pref-height: 5px;
    -fx-pref-width: 30px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnExit:hover{
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #E65100
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: #262626;
    -fx-padding: 10 10 10 10;
}