.root{
    -fx-background-color: #262626;
    -fx-text-fill: #e9e9e9;
}
.btnLeftMenu{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 330px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnLeftMenu:hover{
    -fx-background-color: #2196F3;
}
.leftMenu{
    -fx-background-color: #262626;
    -fx-padding: 20px;
    -fx-text-fill:#e9e9e9;
    -fx-border-color: #434343;
    -fx-border-width: 0 2 0 0;
}
.btnExit{
    -fx-background-color: #E65100;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 5;
    -fx-pref-height: 5px;
    -fx-pref-width: 30px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnExit:hover{
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #E65100
}
.topMenuGrid{
    -fx-border-color: #434343;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 20 0;
}
.gameName{
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-padding: 20 20 0 20;
}
.btnActive,.memberName:hover{
    -fx-background-color: #2196F3 !important;
}
.tackerSpiners{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 13;
    -fx-pref-height: 40px;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.memberSelection{
    -fx-padding: 10 10 10 10;
}
.memberSelectionLabel,.memberName{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.memberSelectionLabel{
    -fx-font-size: 18;
}
.saveMembersBtn{
    -fx-background-color: #2196F3;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-font-size: 18;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.saveMembersBtn:hover{
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #2196F3;
}
.btnSelectTracker{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 13;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 40px;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnSelectTracker:hover{
    -fx-background-color: #2196F3;
}
.trackerPositionLabel{
    -fx-background-color: #2196F3;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 200px;
    -fx-font-size: 15;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.spinner .text-field{
    -fx-text-fill: #e9e9e9;
    -fx-background-color: #434343;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 31px;
    -fx-font-size: 15;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #434343;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #2196F3;
}
.helpLabel{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 13;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 50px;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
    -fx-pref-width: 280px;
}
.legendImage{
    -fx-background-color: #2196F3;
    -fx-padding: 0 10 0 10;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
}
.btnRoom{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnRoom:hover,.btnRoom:selected,.btnRoom:focused {
    -fx-background-color: #2196F3;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: #262626;
    -fx-padding: 10 10 10 10;
}