.root{
    -fx-background-color: #dcdde1;
    -fx-background-image: url("../img/mainMenuBG.jpg");
    -fx-background-position: center center;
}
.button{
    -fx-background-color: #353b48;
    -fx-text-fill: #f5f6fa;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
    -fx-pref-height: 40px;
    -fx-pref-width: 250px;
}
.button:hover{
    -fx-background-color: #f5f6fa;
    -fx-text-fill: #353b48;
}
.btn-start{
    -fx-background-color: #4cd137;
}
.btn-load{
    -fx-background-color: #0097e6;
}
.btn-delete{
    -fx-background-color: #fbc531;
}
.btn-exit{
    -fx-background-color: #e84118;
}
.infoTitle{
    -fx-text-fill: #f5f6fa;
    -fx-font-size: 25;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}