.stores{
    -fx-background-color: #262626;
    -fx-border-color: #434343;
    -fx-border-width: 0 0 0 2;
}
.header{
    -fx-padding: 0 0 20 0;
}
.footer{
    -fx-padding: 20 0 20 0;
}
.title{
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-padding: 20 20 0 20;
}
.counter{
    -fx-text-fill: #e9e9e9;
    -fx-font-size: 13;
    -fx-font-weight: 700;
}
.btnExit{
    -fx-background-color: #E65100;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 5;
    -fx-pref-height: 5px;
    -fx-pref-width: 30px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnExit:hover{
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #E65100
}
.list{
    -fx-padding: 20 10 20 10;
}
.listButton{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-pref-width: 400px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.listButton:hover{
    -fx-background-color: #2196F3;
}
.listMove{
    /*-fx-background-color: #e9e9e9;*/
}
.btnActive{
    -fx-background-color: #2196F3 !important;
    -fx-text-fill: #e9e9e9 !important;
}
.btnMemberMove{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 100px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnMemberMove:hover,.btnMemberMove:selected,.btnMemberMove:focused {
    -fx-background-color: #2196F3;
}
.btnSelectRoom{
    -fx-background-color: #434343;
    -fx-text-fill: #e9e9e9;
    -fx-padding: 10 10 10 10;
    -fx-pref-height: 30px;
    -fx-font-size: 13;
    -fx-font-weight: 700;
    -fx-background-radius: 0;
}
.btnSelectRoom:hover,.btnSelectRoom:selected,.btnSelectRoom:focused {
    -fx-background-color: #2196F3;
}